<% if book.errors.any? %>
  <h3><%= book.errors.count %>errors prohibited this obj from being saved:</h3>
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>User info</h1>
  <%= image_tag user.get_profile_image %>
    <% if user.present? %>
      <table class="table table-hover">
        <tbody>
          <tr></tr>
          <tr>
            <th><strong>name</strong></th>
            <th><strong><%= user.name %></strong></th>
          </tr>
          <tr>
            <th><strong>introduction</strong></th>
            <th><strong><%= user.introduction %></strong></th>
          </tr>
          <p></p>
        <% else %>
        <p></p>
        <% end %>
        </tbody>
      </table>
      
    
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-sm btn-block" do %>
      <i class="fa-solid fa-user-gear"></i>
    
    <% end %>
  

<h1>New book</h1>
<%= form_with model: book, local:true do |f| %>
 
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>