<h1>User info自分の投稿一覧ページ</h1>

  <% @books.each do |book| %>
    <%= image_tag @user.get_profile_image %>
      <% if @users.present? %> 
      <p><strong><%= @user.name %></strong></p>
      <% end %>
    <%= book.title %>
    <%= book.body %>
    <%= link_to 'Edit', edit_book_path(book.id) %>
    <%= link_to 'Destroy', book_path(book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
